# Created by .ignore support plugin (hsz.mobi)
/logs/
/cache/
/.idea/
__pycache__/
economics/__pycache__/
mission_report/__pycache__/
/resources/backgrounds/
*spline.json
*lines.json
/configs/conf.ini
/configs/main.json
sandbox.py
.venv/
.vscode/.ropeproject/
.vs/
.noseids
/tiles/
/tmp/
/movie.gif
data/scg/2/blocks_quickmission/airfields_red
data/scg/2/blocks_quickmission/airfields_blue
*.ldb
*.lgb
data/scg/1/stalingrad_lf.ldf
data/scg/2/arty.ldf
data/scg/2/moscow-base_v2.ldf
data/scg/2/moscow_lf.ldf
data/scg/*/*.dat